name: Push Postman collection changes to public collection
# This workflow pushes any changes to the Postman collections in the repo to the Postman collections within the
# Validated Relationships Service workspace.
# This means that all changes and version control are handled within GitHub for the collections and only once the
# changes have been merged are the public-facing Postman collections updated.
# Please see updated instructions on Confluence for further details about how this workflow fits into that process.
on:
    workflow_dispatch:
        inputs:
            should_push_integration:
                type: boolean
                description: Push Integration collection
                default: false
    push:
        branches:
            - master
        paths:
            - './postman/validated_relationship_service.**'

jobs:
    detect-changes:
        name: Detect which Postman collection has changed
        runs-on: ubuntu-latest
        if: ${{ github.event_name == 'push' }}
        outputs:
            integration: ${{ steps.filter.outputs.integration }}
        steps:
            -   name: Checkout
                uses: actions/checkout@v5
                with:
                    fetch-depth: 0
            -   uses: dorny/paths-filter@v3
                id: filter
                with:
                    filters: |
                        integration:
                            - './postman/validated_relationship_service.integration.postman_collection.json'

    push-integration-postman:
        name: Push Integration collection to Postman
        runs-on: ubuntu-latest
        needs: [detect-changes]
        if: |
            always () && (
                (github.event_name == 'push' && needs.detect-changes.outputs.integration == 'true') ||
                (github.event_name == 'workflow_dispatch' && github.event.inputs.should_push_integration == 'true')
            )
        steps:
            -   name: Checkout
                uses: actions/checkout@v5
                with:
                    fetch-depth: 0
            -   name: Push Integration Postman collection
                id: push_integration_postman_collection
                uses: gcatanese/push-to-postman-action@main
                with:
                    goal: update
                    postman-key: ${{ secrets.POSTMAN_API_KEY }}
                    postman-file: './postman/validated_relationship_service.integration.postman_collection.json'
                    collection-id: ${{ secrets.POSTMAN_INTEGRATION_COLLECTION_ID }}
