name: Run postman collection
on:
    workflow_dispatch:
    schedule:
        - cron: "0 0 * * *" # Runs every day at midnight UTC
jobs:
    run-postman-collection:
        runs-on: ubuntu-latest
        steps:
            - name: Check out the repository
              uses: actions/checkout@v5
            - name: Set up Node.js
              uses: actions/setup-node@v6
              with:
                  node-version: "22"
            - name: Install Newman
              run: npm install -g newman
            - name: Run Postman Collection
              run: newman run "./postman/Validated Relationship Service Sandbox.postman_collection.json"
